
*body{
    font-family: 'Poppins', sans-serif;
}

.nav-bg{
    background-color:#FF136F;
}
.container{
    margin-bottom: 100px;
}
.top-banner-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #352e31;
}
.search,
.top-banner-button1{
    background-image: linear-gradient(to bottom, #352e31 0%, #501f32 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
    
}

.form-control{
    border-color: #352e31;
    border-radius: 8px;
    outline: #352e31 ;
}
.form-control:focus{
   border-color: #352e31;
   border-radius: 8px;
   outline: #352e31 ;
}
.catagorie-1, .shoes-heading{
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.card{
    background-color: #fceae8;
    margin-bottom: 20px;
    border-radius: 5px;
    
   
}
.card:hover{
    box-shadow: 0 0 30px rgb(70, 67, 67);
    border: 1px solid #352e31;
    
    
}
.top-banner-button{
    display: none;
}
.card:hover .top-banner-button{
    background-image: linear-gradient(to bottom, #352e31 0%, #501f32 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
    display: inline-block;
   
   

}
.cat1{
    background-color: #fceae8;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(70, 67, 67);
}
.catagories img{
    width: 100px;
}
.card-img-top{
    height: 100%;
    width: 100%;
}
.card-text{
    font-size: 13px;

}
.card-body{
    text-align: center;
}

/* footer design start here */

.bg-footer{
    background-color:#352e31;
   width: 100%;
    height: 400px;
}
.onu{
    color: white;
    text-align: center;
    
}
.footer-list,
.h5-head{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.container{
    width: 100%;
    padding: 20px 20px;
}
a:link {
    text-decoration: none;
    color: black;
}
.copy-tag{
    color: white;
    text-align: center;
    margin-top: 70px;
}