*body{
    font-family: 'Poppins', sans-serif;
}
.nav-bg{
    background-color:#FF136F;
}
.container{
    margin-bottom: 100px;
}
.top-banner-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.search,
.top-banner-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.form-control{
    border-color: #FF136F;
    border-radius: 8px;
    outline: #FF136F ;
}
.form-control:focus{
   border-color: #FF136F;
   border-radius: 8px;
   outline: #FF136F ;
}
.catagorie-1, .shoes-heading{
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.cat1, 
.card{
    background-color: #fceae8;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #FF136F;
}
.catagories img{
    width: 100px;
}
.card{
    
}