
*body{
    font-family: 'Poppins', sans-serif;
}
.fullbody{
    max-height: fit-content;
}
.nav-bg{
    background-color:#FF136F;
}
.container{
    margin-bottom: 100px;
}
.top-banner-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.search,
.top-banner-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
    
}

.form-control{
    border-color: #FF136F;
    border-radius: 8px;
    outline: #FF136F ;
}
.form-control:focus{
   border-color: #FF136F;
   border-radius: 8px;
   outline: #FF136F ;
}
.catagorie-1, .shoes-heading{
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.cat1, 
.card{
    background-color: #fceae8;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #FF136F;
    box-shadow: 5px 5px 10px rgb(155, 150, 150);
}
.catagories img{
    width: 100px;
}
.card-img-top{
    height: 100%;
    width: 100%;
}
.card-text{
    font-size: 13px;

}
.card-body{
    text-align: center;
}

/* footer design start here */

.bg-footer{
    background-color:rgb(21, 9, 32);
   width: 100%;
    height: 400px;
}
.onu{
    color: white;
    text-align: center;
    
}
.footer-list,
.h5-head{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.container{
    width: 100%;
    padding: 20px 20px;
}
a:link {
    text-decoration: none;
    color: black;
}
.copy-tag{
    color: white;
    text-align: center;
    margin-top: 70px;
}